node_modules/

# develop
.github/
.vscode/
typings/
configs/
scripts/
src/
images
!images/logo.png

# test and output
.vscode-test/
test/
out/test/
test-workspace/
.nyc_output/
coverage/
build/

# configs
.husky
.gitignore
.vscodeignore
tsconfig.json
tsconfig.test.json
.nvmrc
.editorconfig
.eslintrc.js
.eslintignore
.prettierrc
yarn.lock
pnpm-lock.yaml
