# source
src
*.ts

# output
out
!out/src/extension.js
*.map
*.vsix

# test
test
test-workspace
.vscode-test

# configs
.github
.vscode
tsconfig.*
.eslintrc*
.prettier*
.gitignore
pnpm-lock.yaml

# esbuild-visualizer
meta.json
stats.html

